importFrom("graphics", "plot")
importFrom("rlang", "%||%")
importFrom("utils", "read.table")
importFrom("utils", "read.csv")
importFrom("stats", "quantile")
importFrom("stats", "median")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "title")
importFrom("methods", "new")
importFrom("stats", "reorder")
importFrom("grDevices", "adjustcolor")
importFrom("utils", "head")
importFrom("utils", "count.fields")
import("topGO")
exportPattern("^[[:alpha:]]+")
